.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.trainers-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 49px;
    padding: 16px 0;
}

.trainer-card {
    background-color: rgba(235, 227, 227, 0.966);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    flex: calc(50% - 32px);
    max-width: calc(50% - 32px);
    min-width: 250px;
}

.trainer-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background: linear-gradient(135deg, #5ab4e7, #1279da);
}

.trainer-info{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.trainer-name {
    font-size: 18pt;
    text-transform: capitalize;
    color:rgba(32, 9, 9);
}

.trainer-region {
    border-radius: 12px;
    padding: 6px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background: linear-gradient(135deg, #C0C0C0)
}



.trainer-badges{
    border-radius: 12px;
    padding: 6px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background: linear-gradient(135deg, #eee783, #eedb31)
}

.trainer-status {
    border-radius: 12px;
    padding: 6px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.status-active{
    background: linear-gradient(135deg, #7bd880)

}

.status-lider{
    background: linear-gradient(135deg, #361ad3)

}

.status-champion{
    background: linear-gradient(135deg, #FFD700)

}

.status-coor{
    background: linear-gradient(135deg, #ff0000)

}

.status-artist{
    background: linear-gradient(135deg, #dd39cf)

}

.status-investi{
    background: linear-gradient(135deg, #3993dd)

}